

body {
	/* position: relative; */
	/* height: auto; */
	/*overflow: hidden !important;*/
	/* max-width: 100vw; */
}

html {
	/*overflow: hidden !important;*/
}
html,body{margin:0;padding:0;height: 100%; }
html,
body,
input,
textarea,
select,
button {
	border-color: #736b5e;
	color: #e8e6e3;
	background-color: #181a1b;
	font-family: "Open Sans", sans-serif;
}

* {
	scrollbar-color: #0f0f0f #454a4d;
	scroll-behavior: smooth;
}


.center {
	text-align: center;
	margin: auto;
}


.disable_selection {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Old versions of Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a {
	/*line-height: 200%;*/
	/* font-size: 1;
	font-weight: 600; */
	text-decoration: none;
	color: #0066ff;
	letter-spacing: .1em;
}



::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar {
	width: 3px;
	height: 7px;
	opacity: 0.3;
}

::-webkit-scrollbar:hover {
	opacity: 0.9;
}

::-webkit-scrollbar-thumb {
	background: #333;
	border-radius: 10px;
}

:hover::-webkit-scrollbar-thumb {
	background: #666;
}

::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}


.overflowHidden {
	overflow: hidden !important
}


/* POPUP CSS */

.modal_bg {
	display: inherit;
	position: fixed;
	z-index: 1;
	padding-top: inherit;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}


.popup {
	position: fixed;
	z-index: 22;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all .5s ease-in-out;
	transform: translate(-50%, -50%) scale(1)
}

.popup-box {
	display: block;
	/*display: inline;*/
	/*text-align: center;*/
	position: fixed;
	top: 50%;
	left: 50%;
	color: #BBB;
	transition: all 400ms ease-in-out;
	background: #222;
	width: 95%;
	max-width: 500px;
	z-index: 23;
	padding: 20px;
	box-sizing: border-box;
	max-height: min(600px, 80%);
	height: max-content;
	min-height: 300px;
	overflow: auto;
	border-radius: 6px;
	text-align: center;
	overflow-wrap: anywhere;
}

.popup-close-btn {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
	height: 30px;
	background: #222;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	border-radius: 50%
}

.popup:not(.active) {
	transform: translate(-50%, -50%) scale(0);
	opacity: 0;
}


.popup.active .popup-box {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
}



.pagination {
	cursor: pointer;
	width: 150px;
	max-width: 800px
}

.pagination {
	font: bold 20px Arial;
	text-decoration: none;
	background-color: #8a8b8d6b;
	color: #1f83b6;
	padding: 2px 6px;
	border-top: 1px solid #828d94;
	box-shadow: 4px 4px #5050506b;
	border-left: 1px solid #828D94;
}

.pagination:hover {
	background-color: #4e4f506b;
	color: #00b7ff;
	box-shadow: 4px 4px #8d8d8d6b;
	border: none;
	border-right: 1px solid #959fa5;
	border-bottom: 1px solid #959fa5
}

.pagination:active {
	position: relative;
	top: 4px;
	left: 4px;
	box-shadow: none
}



.toast-box {
	z-index: 8;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
	overflow-wrap: anywhere;
	transform: translateY(-100%);
	opacity: 0;
	transition:
		opacity 500ms,
		transform 500ms;
	text-align: center;
}

.toast-box.visible {
	transform: translateY(0);
	opacity: 1;
}


.toast-body {
	max-height: 100px;
	overflow-y: auto;
	margin: 55px;
	padding: 10px;

	font-size: 1em;
	background-color: #005165ed;
	color: #fff;

	border-radius: 4px;
}




.top_bar {
	background-color: #111;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: max-content;
	display: block;
	transition: top 0.3s;
	font-size: 20px;
	z-index: 9;
}

.top_bar.inactive {
	display: none;
	transition: none;
}

.top_bar #app_name_container {
	padding: 10px 0;
	float: left;
	font-size: 20px;
	font-family: sans-serif;
}



.open-sidebar-btn {
	background-color: #2e2e2e;
	font-size: 20px;
	cursor: pointer;
	color: #fff;
	padding: 10px 15px;
	border: none;
	margin: 0 7px 0 3px;
	border-radius: 7px;
}

.open-sidebar-btn:hover {
	background-color: #444;
}

#app_header {
	transition: margin-left 0.5s;
}

#app_name {
	text-decoration: none;
	color: #ffffff;
	padding: 15px 5px;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 300;
}

#app_status {
	font-size: 20px;
	font-weight: 900;
	color: #ffffff;
	-webkit-text-stroke: 3px;
	text-stroke: 3px;
}

.profile_pic {
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: -5px 0;

}

@media screen and (max-width: 620px) {
	.nav-btn-text {
		display: none;
	}
}

@media screen and (max-height: 450px) {
	.sidebar a {
		font-size: 18px;
	}

	.sidebar button {
		font-size: 18px;
	}

	.proj-panel {
		font-size: 22px;
	}
}


